<a href="https://colab.research.google.com/github/elvindsouza/assorted/blob/master/Python_Introductory_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name=input("Name\n>")
age=int(input("Age\n>"))
status=input("Is he new?\n>")

Name
>Namegoeshere
Age
>19
Is he new?
>no

In [ ]:

name=input("Name\n>")
fav_colour=input("Favourite colour:\n>")
print(f"{name} likes {fav_colour}")

In [ ]:
wt_raw=int(input("Enter your weight along with which unit system:\n>"))
current=input("Units? enter \"kg\" or \"lbs\"")
if current=="kg":
    wt_lbs=wt_raw*2.204623
    print("Your weight in pounds would be", wt_lbs)
elif current=="lbs":
    wt_kg=wt_raw*0.4535924
    print("Your weight in kgs would be",wt_kg )
else:
    print("invalid input")
        # exit(>)

In [ ]:

res=(2+3)*10-3
print(res)

In [ ]:

price=1000000
credit=bool()
down_payment=float()
response=input("Does the buyer have good credit?(reply with yes or no)\n>").lower().strip()
if response=="yes":
    down_payment=(price*10)/100
elif response=="no":
    down_payment=(price*20)/100
print(f"The buyer has to pay {down_payment} dollars down")

In [ ]:

iters=[5,2,5,2,2]
for iter in iters:
    print("0"*iter)

In [ ]:

import random
numlist=[random.randint(1,100) for i in range(15)]
print(numlist)
num_max=0
for num in numlist:
    if num>num_max:
        num_max=num
print(num_max)

In [ ]:

import random
numlist=[random.randint(1,100) for i in range(15)]
numlist_new=list()
for num in numlist:
    if num not in numlist_new:
        numlist_new.append(num)
print(numlist)
print(numlist_new)

In [ ]:

import  random
class Dice():
    """Class with a single method used for rolling a dice"""
    def __init__(self, dicename):
        self.dicename=dicename

    def roll(self):
        return random.randint(1,6)

myDice=Dice("Dice1")
while input(">")=="roll":
    print("rolling",myDice.dicename, ".....")
    print(myDice.roll())

In [2]:
#session storage on colaboratory might be cleared after runtime is reset, df is sourced from https://www.kaggle.com/gregorut/videogamesales
import pandas as pd
df=pd.read_csv("/content/vgsales.csv")

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

In [3]:
df

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

In [4]:
df.shape

(16598, 11)

In [5]:
df.describe()

               Rank          Year  ...   Other_Sales  Global_Sales
count  16598.000000  16327.000000  ...  16598.000000  16598.000000
mean    8300.605254   2006.406443  ...      0.048063      0.537441
std     4791.853933      5.828981  ...      0.188588      1.555028
min        1.000000   1980.000000  ...      0.000000      0.010000
25%     4151.250000   2003.000000  ...      0.000000      0.060000
50%     8300.500000   2007.000000  ...      0.010000      0.170000
75%    12449.750000   2010.000000  ...      0.040000      0.470000
max    16600.000000   2020.000000  ...     10.570000     82.740000

[8 rows x 7 columns]

In [6]:
df.values

array([[1, 'Wii Sports', 'Wii', ..., 3.77, 8.46, 82.74],
       [2, 'Super Mario Bros.', 'NES', ..., 6.81, 0.77, 40.24],
       [3, 'Mario Kart Wii', 'Wii', ..., 3.79, 3.31, 35.82],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 'PS2',
        ..., 0.0, 0.0, 0.01],
       [16599, 'Know How 2', 'DS', ..., 0.0, 0.0, 0.01],
       [16600, 'Spirits & Spells', 'GBA', ..., 0.0, 0.0, 0.01]],
      dtype=object)

In [29]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.externals import joblib
import pandas as pd
#MAIN CELL, THIS CELL MUST PREPEND THE NEXT FEW CELLS AND RUN FIRST
df=pd.read_csv("/content/music.csv")
df

/usr/local/lib/python3.7/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [10]:
X=df.drop(columns=['genre'])
X
X=df.drop(columns=['genre'])
y=df['genre']

In [18]:



model=DecisionTreeClassifier()#creating class here
model.fit(X, y)
prediction=model.predict([[21,1], [22,0]])
prediction

array(['HipHop', 'Dance'], dtype=object)

In [26]:
#NEEDS ABOVE CELL TO RUN TO DO IMPORTS

X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2)
model=DecisionTreeClassifier()
model.fit(X_train, y_train)
prediction=model.predict(X_test)
accuracy=accuracy_score(y_test, prediction)
accuracy

0.75

In [31]:
df=pd.read_csv("/content/music.csv")
X=df.drop(columns=['genre'])
y=df['genre']

model=DecisionTreeClassifier()
model.fit(X,y)

joblib.dump(model, "modelpersistencedump.joblib")

['modelpersistencedump.joblib']

In [32]:
model=joblib.load("/content/modelpersistencedump.joblib")#reading from model dump
predictions=model.predict([[21,1]])
predictions

array(['HipHop'], dtype=object)

In [37]:
# decision tree visualization
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
import subprocess
df=pd.read_csv("/content/music.csv")
X=df.drop(columns=['genre'])
y=df['genre']

model=DecisionTreeClassifier()#initializing class instance
model.fit(X,y)
tree.export_graphviz(model, out_file="tree.dot",feature_names=['age', 'gender'], class_names=sorted(y.unique()),label="all", rounded=True, filled=True)
# chmod +x
# subprocess.Popen(l)
temp=subprocess.Popen(["bash","/content/dot2png.sh"], shell=True)